<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome Municipality
    <br><a href="{% url 'Municipality:profile' %}">Profile</a>
    <br><a href="{% url 'Municipality:viewrequest' %}">Request</a>
    <br><a href="{% url 'Municipality:replyedrequest' %}">Replyed Request</a>
    <br><a href="{% url 'Municipality:complaint' %}">Complaint</a>
    <br><a href="{% url 'Municipality:viewcomplaint' %}">View Complaint</a>
    <br><a href="{% url 'Municipality:replyedcomplaint' %}">Replyed Complaint</a>
    {% if msg1 %}
    <script>
        alert('Password Reset Link is sented to {{msg1}} email');
        window.location = "{% url 'Municipality:homepage' %}"
    </script>
    {% endif %}
</body>
</html>