<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <td>Name</td>
            <td>{{mvd.mvd_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{mvd.mvd_contact}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{mvd.mvd_email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td width="100">{{mvd.mvd_address}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><a href="{% url 'MVD:editprofile' %}">Edit Profile</a> <a href="{% url 'MVD:changepassword' %}">Change Password</a></td>
        </tr>
    </table>
    {% if msg %}
    <script>
        alert('{{msg}}')
        window.location = "{% url 'MVD:profile' %}"
    </script>
    {% endif %}
</body>
</html>