<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome User
    <br>
    <a href="{% url 'User:profile' %}">My Profile</a>
    <br><a href="{% url 'User:searchmvd' %}">Mvd</a>
    <br><a href="{% url 'User:searchpwd' %}">Pwd</a>
    <br><a href="{% url 'User:searchmunicipality' %}">Municipality</a>
    <br><a href="{% url 'User:searchKseb' %}">Kseb</a>
    <br><a href="{% url 'User:myrequest' %}">My Request</a>
    <br><a href="{% url 'User:complaint' %}">Complaint</a>
    {% if msg1 %}
    <script>
        alert('Password Reset Link is sented to {{msg1}} email');
        window.location = "{% url 'User:homepage' %}"
    </script>
    {% endif %}
</body>
</html>