{% load static %}
{% for i in comment %}
<li class="list-group-item d-flex align-items-center">
    {% if i.photo == "1" %}
    <img src="{{i.user.user_photo}}" alt="User Photo" class="me-2" style="width: 30px; height: 30px; border-radius: 50%;">
    {% else %}
    <img src="{% static 'Main/img/userprofile.jpg' %}" alt="User Photo" class="me-2" style="width: 30px; height: 30px; border-radius: 50%;">
    {% endif %}
    <span>{{i.user.user_name}}{{i.pwd.pwd_name}}{{i.mvd.mvd_name}}{{i.kseb.kseb_name}}{{i.municipality.municipality_name}}</span>
    <span class="ms-auto">{{i.comment.command_content}}</span>
</li>
{%  endfor %}