<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome PWD
    <br><a href="{% url 'PWD:profile' %}">Profile</a>
    <br><a href="{% url 'PWD:viewrequest' %}">Request</a>
    <br><a href="{% url 'PWD:replyedrequest' %}">Replyed Request</a>
    {% if msg1 %}
    <script>
        alert('Password Reset Link is sented to {{msg1}} email');
        window.location = "{% url 'PWD:homepage' %}"
    </script>
    {% endif %}
</body>
</html>