<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome PWD
    <br><a href="{% url 'PWD:profile' %}">Profile</a>
    <br><a href="{% url 'PWD:viewrequest' %}">Request</a>
    <br><a href="{% url 'PWD:replyedrequest' %}">Replyed Request</a>
    <br><a href="{% url 'PWD:complaint' %}">Complaint</a>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Travisa - Visa & Immigration Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'Main/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'Main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'Main/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'Main/css/style.css' %}" rel="stylesheet">
        <style>
            .footer {
                background-color: #003a66;
            }
            @media (min-width: 991.98px) {
                .navbar-light .navbar-nav .nav-link:after, .navbar-light .navbar-nav .nav-link::before {
                background-color: #003a66;
                }}
            .navbar-light .navbar-nav .nav-link {
                color: #e02454  !important;
            }
            .navbar-light .navbar-nav .nav-link:hover {
                color: #003a66 !important;
            }
            .display-5 {
                font-size: calc(1.425rem + 2.1vw) !important;
                font-weight: 700 !important;
                line-height: 1.2 !important;
            }
            .btn.btn-primary {
                background-color: #003a66 !important;
            }
         </style>
    </head>
    {% if msg1 %}
    <script>
        alert('Password Reset Link is sented to {{msg1}} email');
        window.location = "{% url 'PWD:homepage' %}"
    </script>
    {% endif %}
    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-secondary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar & Hero Start -->
        <div class="container-fluid nav-bar p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="display-5 text-secondary m-0" style="color: #e02454 !important;"><img src="img/brand-logo.png" class="img-fluid" alt="">Public Assist Hub</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{% url 'PWD:homepage' %}" class="nav-item nav-link">Home</a>
                        <a href="{% url 'PWD:profile' %}" class="nav-item nav-link">Profile</a>
                        <!-- <a href="{% url 'User:myrequest' %}" class="nav-item nav-link">My Request</a>
                        <a href="{% url 'User:addpost' %}" class="nav-item nav-link">Post</a> -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-bs-toggle="dropdown"><span class="dropdown-toggle">Request</span></a>
                            <div class="dropdown-menu m-0">
                                <a href="{% url 'PWD:viewrequest' %}" class="dropdown-item">View Request</a>
                                <a href="{% url 'PWD:replyedrequest' %}" class="dropdown-item">Replyed Request</a>
                                <!-- <a href="{% url 'User:searchmunicipality' %}" class="dropdown-item">MUNICIPALITY</a>
                                <a href="{% url 'User:searchKseb' %}" class="dropdown-item">KSEB</a> -->
                                <!-- <a href="404.html" class="dropdown-item">404 Page</a> -->
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-bs-toggle="dropdown"><span class="dropdown-toggle">Message</span></a>
                            <div class="dropdown-menu m-0">
                                <!-- <a href="{% url 'User:viewofficialcomplaints' %}" class="dropdown-item">View Offical Complaints</a> -->
                                <a href="{% url 'PWD:complaint' %}" class="dropdown-item">Complaints</a>
                                <a href="{% url 'PWD:feedback' %}" class="dropdown-item">FeedBack</a>
                            </div>
                        </div>
                        <!-- <a href="{% url 'Guest:mvd' %}" class="nav-item nav-link">MVD</a>
                        <a href="{% url 'Guest:kseb' %}" class="nav-item nav-link">KSEB</a> -->
                    </div>
                    <!-- <button class="btn btn-primary btn-md-square border-secondary mb-3 mb-md-3 mb-lg-0 me-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search"></i></button> -->
                    <a href="{% url 'PWD:logout' %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4 px-lg-3 mb-3 mb-md-3 mb-lg-0">Logout</a>
                </div>
            </nav>
        </div>
        <!-- Navbar & Hero End -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .sub{
            padding: 15px;
            /* background-color: #f1f1f1; */
            box-shadow: 0 0 10px #e3e3e3;
            width: fit-content;
            border-radius: 17px;
            display: flex;
            flex-direction: column;
        }
        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
        }
        .bts {
            display: flex;
            flex-direction: row;
            gap: 4px;
            /* justify-content: space-around; */
            font-size: 26px;
        }
        .sub>img {
            border-radius: 10px ;
        }
        .header>img{
            border-radius: 50%;
            margin-right: 8px;
        }
        .header{
            padding: 0 0 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 11px;
        }
        .name {
            display: flex;
            flex-direction: column;
        }
        .date {
            font-size: 10px;
        }
        .cap {
            display: flex;
            flex-direction: column;
            width: 550px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .liked{
            color: red !important;
        }

        .disliked{
            color: white;
        }
        .contents {
            max-height: 400px;
            overflow-y: auto;
        }
    
    </style>
</head>
<body>
    <div class="main">
    {% for i in post %}
        <div class="sub">
            <div class="header">
                <div>
                    <a href="{{i.user.user_photo}}"><img src="{{i.user.user_photo}}" height="30" width="30"/></a>
                </div>
                <div class="name">
                    <a href=""><span>{{i.user.user_name}}</span></a>
                    <span class="date">{{i.post.post_date|date}}</span>
                </div>
            </div>
            <img src="{{i.post.post_photo}}" width="550" height="400" alt="">
            <div class="bts" id="result">
                <div id="likesection" class="likesection">
                    
                    <i {% if i.condition == 0 %} class="fa-regular fa-heart" {% else %} class="fa-solid fa-heart text-danger" {% endif %} id="likebtn{{forloop.counter}}" onclick="getLike('{{i.id}}','likebtn{{forloop.counter}}','count{{forloop.counter}}')" style="font-size: 21px;"></i><span style="font-size: 22px;margin-left: 5px;" id="count{{forloop.counter}}">{{i.count}}</span>
                    
                </div>
                <div>
                    <i class="fa-regular fa-comment" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#commentModal" onclick="setId('{{i.id}}')"></i>
                      
                </div>
            </div>
            <div class="cap">
                {{i.post.post_caption}} <br>
                {{i.post.post_description}}
                <span class="date">{{i.post.post_date|time}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentModalLabel">Add Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
          <input type="hidden" name="txt_postid" id="txt_postid">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" onclick="addComment()" class="btn btn-primary">Save changes</button>
          </div>
          <hr>
          <h5>Previous Comments</h5>
          <ul class="list-group contents" id="comments">
            <!-- Iterate over previous comments here -->
            {% for i in comment %}
            <li class="list-group-item d-flex align-items-center">
                <img src="{{i.user.photo_url}}" alt="User Photo" class="me-2" style="width: 30px; height: 30px; border-radius: 50%;">
                <span>{{i.user.user_name}}</span>
                <span class="ms-auto">{{i.comment.command_content}}</span>
              </li>
            {%  endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function getLike(postid,id,count) {
        // console.log(postid,id,count);
        var ur = "{% url 'PWD:ajaxlike' %}"
        $.ajax({
            url: ur,
            data: { postid: postid, },
            success: function (data) {
                // $("#sel_place").html(data);
                // alert(data.count);
                if (data.color == 0)
                {
                    document.getElementById(id).classList.remove("fa-regular", "fa-heart");
                    document.getElementById(id).classList.add("fa-solid", "fa-heart", "text-danger");

                }
                else
                {
                    document.getElementById(id).classList.remove("fa-solid", "fa-heart", "text-danger");
                    document.getElementById(id).classList.add("fa-regular", "fa-heart");
                }
                document.getElementById(count).innerHTML = data.count
                // console.log(count);
            },
        });
    }

    function setId(postid) {
        // console.log(postid);
        document.getElementById('txt_postid').value = postid
        var ur = "{% url 'PWD:ajaxgetcommant' %}"
        $.ajax({
            url: ur,
            data: { postid: postid, },
            success: function (data) {
                $("#comments").html(data);
                // document.getElementById("commentTextarea").value = ""
                // console.log(data);
            },
        });
    }

    function addComment(postid) {
        var content = document.getElementById("commentTextarea").value
        var postid = document.getElementById("txt_postid").value
        // console.log(postid);
        var ur = "{% url 'PWD:ajaxcomment' %}"
        $.ajax({
            url: ur,
            data: { postid: postid,content: content, },
            success: function (data) {
                $("#comments").html(data);
                document.getElementById("commentTextarea").value = ""
                // console.log(data);
            },
        });
    }

</script>
<br><br>

<!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <!-- <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-secondary mb-4">Contact Info</h4>
                    <a href=""><i class="fa fa-map-marker-alt me-2"></i> 123 Street, New York, USA</a>
                    <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
                    <a href=""><i class="fas fa-phone me-2"></i> +012 345 67890</a>
                    <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +012 345 67890</a>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-secondary me-2"></i>
                        <a class="btn mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn mx-1" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-secondary mb-4">Opening Time</h4>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Mon - Friday:</h6>
                        <p class="text-white mb-0">09.00 am to 07.00 pm</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Satday:</h6>
                        <p class="text-white mb-0">10.00 am to 05.00 pm</p>
                    </div>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">Vacation:</h6>
                        <p class="text-white mb-0">All Sunday is our vacation</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-secondary mb-4">Our Services</h4>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Business</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Evaluation</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Migrate</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Study</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Counselling</a>
                    <a href="#" class=""><i class="fas fa-angle-right me-2"></i> Work / Career</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item">
                    <h4 class="text-secondary mb-4">Newsletter</h4>
                    <p class="text-white mb-3">Dolor amet sit justo amet elitr clita ipsum elitr est.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="position-relative mx-auto rounded-pill">
                        <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Enter your email">
                        <button type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'Main/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'Main/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'Main/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'Main/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'Main/lib/owlcarousel/owl.carousel.min.js' %}"></script>


<!-- Template Javascript -->
<script src="{% static 'Main/js/main.js' %}"></script>
</body>

</html>