{% extends 'PWD/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgb(221, 221, 221);
            border-radius: 10px;
            width: 300px;
        }
        tr:nth-child(even) {
            background-color: rgb(242, 242, 242);
        }
        tr:hover {
            background-color: rgb(225, 225, 225);
        }
    </style>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <td>Name</td>
            <td>{{pwd.pwd_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{pwd.pwd_contact}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{pwd.pwd_email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td width="100">{{pwd.pwd_address}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><a href="{% url 'PWD:editprofile' %}">Edit Profile</a> <a href="{% url 'PWD:changepassword' %}">Change Password</a></td>
        </tr>
    </table>
    {% if msg %}
    <script>
        alert('{{msg}}')
        window.location = "{% url 'PWD:profile' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}
