{% extends 'Admin/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-light rounded h-100 p-4">
    <table cellpadding="10" class="table table-hover">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Address</td>
            <td>Proof</td>
            <td>District</td>
            <td>Action</td>
        </tr>
        {% for i in mvd %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.mvd.mvd_name}}</td>
            <td>{{i.mvd.mvd_contact}}</td>
            <td>{{i.mvd.mvd_email}}</td>
            <td>{{i.mvd.mvd_address}}</td>
            <td><a href="{{i.mvd.mvd_proof}}"><img src="{{i.mvd.mvd_proof}}" width="100" height="100" alt=""></a></td>
            <td>{{i.district.district_name}}</td>
            <td><a href="{% url 'Admin:mvdverification' i.id 1 %}">Approve</a> <a href="{% url 'Admin:mvdverification' i.id 2 %}">Reject</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content %}
