<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Address</td>
            <td>Proof</td>
            <td>District</td>
            <td>Action</td>
        </tr>
        {% for i in municipality %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.municipality.municipality_name}}</td>
            <td>{{i.municipality.municipality_contact}}</td>
            <td>{{i.municipality.municipality_email}}</td>
            <td>{{i.municipality.municipality_address}}</td>
            <td><a href="{{i.municipality.municipality_proof}}"><img src="{{i.municipality.municipality_proof}}" width="100" height="100" alt=""></a></td>
            <td>{{i.district.district_name}}</td>
            <td><a href="{% url 'Admin:municipalityverification' i.id 1 %}">Approve</a> <a href="{% url 'Admin:municipalityverification' i.id 2 %}">Reject</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>