{% extends 'Admin/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="bg-light rounded h-100 p-4">
        <table align="center" cellpadding="10">
            <tr>
                <td>District</td>
                <td>
                    <select name="sel_district" id="" class="form-control" required>
                        <option value="">...Select...</option>
                        {% for i in district %}
                        <option 
                        {% if data.district_id == i.id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.data.district_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="txt_place" class="form-control" required id="" value="{{data.place_name}}"></td>
            </tr>
            <tr>
                <td  colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Add"></td>
            </tr>
        </table>
        </div>
    </form>
    <div class="bg-light rounded h-100 p-4">
    <table  cellpadding="10"class="table table-hover">
        <tr>
            <td>#</td>
            <td>District</td>
            <td>Place</td>
            <td>Action</td>
        </tr>
        {% for i in place %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.district.district_name}}</td>
            <td>{{i.place.place_name}}</td>
            <td><a href="{% url 'Admin:deleteplace' i.id %}">Delete</a> <a href="{% url 'Admin:editplace' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Admin:place' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}
